:root {
    --borderRadius: 2rem
}

* {
    margin: 0;
    box-sizing: border-box;
    
}
img {
    max-width: 100%;
}

.main-nav{
    background-color: hsla(0, 0%, 67%, 0.888);
    display: flex;
    justify-content: space-between;
    height: 60px;

}
.main-nav h1{
    margin-left: 15px;
}
h1{
    margin-top:10px;
    color: white;
}
li{
    margin-right: 25px;


}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
ul{
    display: flex;
    margin-right: 20px;
    margin-top: 18px;
    list-style-type: none;
}
.hero{
    background-color:  hsl(0, 0%, 67%);
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}
.hero-image{
   display: flex;
   justify-content: center;


}

.hero-image img{
    width: 250px;
    border-radius: 20px;
}
.hero p{
    margin-top: 10px;
    font-family:cursive ;
}
main{
    
    padding: 0 20rem;
}
.info-card{
    /* justify-items: center; */
    display: flex;
    background-color: rgba(222, 220, 220, 0.607);

    margin-top: 2rem;
    height: 20rem;
    border-radius: var(--borderRadius);
}
.info-text h2{
    margin-left: 30px;
    padding-top: 50px;
}
.info-text p{
    margin-left: 1rem;
    margin-top: 1rem;
    font-family:cursive;
}
.info-image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 1rem;
}
.gallary-sectoin{
    background-color: rgba(222, 220, 220, 0.607);;
    padding: 2rem; 
    border-radius: var(--borderRadius);
    margin-top: 10rem;
    
}

.gallary-item{
    display: flex;
    flex-direction: column;

}
.gallery-grid{
    gap: 1rem;
    display: flex;
    /* background-color: red; */
    
}
.gallary-sectoin h2{
    padding: 0 0 1rem 0;
    
}
.gallary-sectoin p{
    padding: 1rem 1rem 1rem 0;
    font-family:cursive;
}
footer{
    margin: 0;
    background-color: hsl(0, 0%, 67%);
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 20;
    text-align: center; 
    margin-top: 1rem;
}   
