* {
    margin: 0;
    box-sizing: border-box;
}

.main-nav{
    background-color: rgb(40, 42, 138);
    display: flex;
    justify-content: space-between;
    height: 60px;

}
h1{
    margin-top:10px;
    color: white;
}
li{ 
    margin-right: 25px;
    

}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;

}
ul{
    display: flex;
    margin-right: 20px;
    margin-top: 18px;
    list-style-type: none;
}
.hero{
    background-color: rgba(255, 192, 203, 0.521);
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    
}
.hero-image{
   display: flex;
   justify-content: center;


}

.hero-image img{
    width: 250px;
}