* {
    box-sizing: border-box;
}
 
header {
    background-color: red;
    max-width: 50%;
    margin: auto;
    height: 50vh;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMcpf5eVq8lAD8DlPRMNlyyLSCK5klMkmw_A&s);
    background-size: cover;
    padding: 20px;
    border-radius: 20px;
}
nav{
    background-color: rgba(0, 0, 0, 0.418);
    height: 80px;
    border-radius: 25px;
    backdrop-filter: blur(8px);

}
    h1{
        color:white;
        font-family: sans-serif;
        margin: 20% 0 0 50px;
        font-size: 40px;
        
    }