/* här har jag min css och jag använder mig av body för att ge body för att ge en bakrundsfärg på hella min sida med min boddy för det är helheten av sidan */
body{
background-color: red;
}

nav{
    display: flex;
    background-color: bisque;
    padding: 1rem 1rem;
    align-items: center;
    gap: 1rem;
    margin-bottom: 4rem;
}
/* här är min nav css jag använder mig av display flex för att bilden och texten ska komma brevid varanda. och bakrundsvärg så färgen på naven bytas. padding för att bilden ska flytas lite så den itne är tät intill kanterna. ich align items center för att få texten i mitten. och gap för stärre mellanrum mellan bilden och texten */

.nav-img img {
    border-radius: 6rem;
}

header{
    
    padding: 2rem;
    background-color: white;
    margin: 4%;
    padding: 3rem;
    

}
/* header img{
    width: 35rem;   
} */

.hero-img{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;

    
}

.hero-text{
    background-color: yellow;
}

@media (max-width: 500px) {
    .hero-section{
        margin: 1%;
        padding: 1rem;
        
    }
}
@media (max-width: 1860px) {
    body {
        background-color: purple;
    }
    .hero-img {
        flex-direction: column;

        img {
            max-width: 100%;
        }
    }
}


.article-sektion{
    /* background-color: blue; */
    margin: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    padding: 3rem;
    /* display: flex; */
    /* justify-content: space-between; */
}
/* .article-sektion > *{
    background-image: linear-gradient(45deg, white, black);
} */

/* .stand-img img{
    width: 41rem ;
    
} */
.article-text{
    grid-column: 1/-1;
}
img{
    max-width: 100%;
}

p{
    font-size: 150%;
}
